.borda{
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}

.borda .botoes{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    margin-bottom: 0px;

}

.borda .divisao{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
}

.borda .divisaoPesquisar{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
    margin-bottom: 20px;
}
