.borda{
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
}

.borda .botoes{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    margin-bottom: 0px;

}

.borda .divisao{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
}

.borda .divisaoPesquisar{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
    margin-bottom: 20px;
}

.borda .divisao .cardtext{
    height: 80px; 
}

.borda::after{
    content: "";
    position: fixed;
    background: #F8E0E0;
    top: 260px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
