.border{
margin: 40px;
margin-top: 0px;
margin-bottom: 0px;
outline: none;
border-color: #fafafa;
}

.border .botoes{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    margin-bottom: 0px;

}

.border .division{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
}

.border .divisionPesquisar{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 24px;
    list-style: none;
    margin-bottom: 20px;
}
