.paper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar{
    border: 0;
    left: 175px;
    position: relative;
    margin-top: 20px;  
}

.submit{
    margin-top: 12px;
}