.paper{
    display: flex;
    flex: 1;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 10000px;
}

.avatar{
    border: 0;
    left: 175px;
    position: relative;
    margin-top: 20px;  
}

.submit{
    margin-top: 12px;
}