@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');


.container_titulo .titulo{
    font-size:180%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

}

.container_titulo .titulo .fonte{
    font-size:120%; 
    color:#e53935;
}

.container_titulo .titulo .nome{
    font-size:65%;
    
}

