.Navbar .image{
    width: 40px;
    height: 75px;
}

.Navbar{
    background-color: #fafafa;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color:#ef9a9a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 0px;
}

.simbolos{
    border: 0; 
}
