    .borderAluno{
        margin: 40px;
        margin-top: 40px;
        margin-bottom: 0px;
    
    }
     
    .division{
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        grid-gap: 24px;
        list-style: none;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .division .button {
        border: 0;
        position: absolute;
        right: 24px;
        top: 24px;
    }

    .progresso{
        margin-bottom: 35px;
    }

    .buttontable{
        border: 0;
        position: absolute;
        right: 24px;
    }